.name {
    background-image: linear-gradient(
        145deg,
        rgba(181, 87, 255, 1) 0%,
        rgba(227, 56, 56, 1) 70%,
        rgba(236, 170, 0, 1) 100%
    );
    text-transform: uppercase;
    background-clip: text;
    font-size: 6rem;
    color: transparent;
    font-family: "Bebas Neue", cursive;
    background-size: 200%;
    width: fit-content;
    animation: colorAnimation 3s linear infinite;
    line-height: 0.95;
    margin: 45px 0;
    filter: drop-shadow(2px 6px 8px rgba(0, 0, 0, 0.15));
    transform: translateX(-90%);
    transition: all 0.95s cubic-bezier(0.37, 0.5, 0.55, 1.37);
}
.show {
    transform: translateX(0);
}
@keyframes colorAnimation {
    0% {
        background-position: 0% 100%;
    }
    10% {
        background-position: 0% 80%;
    }
    50% {
        background-position: 100% 0%;
    }
    70% {
        background-position: 100% 0%;
    }

    100% {
        background-position: 0% 100%;
    }
}
@media (max-width: 1320px) {
    .name {
        background-size: 150%;

        margin: 35px 0;
        font-size: 4.5rem;
    }
}
@media (max-width: 760px) {
    .name {
        margin: 30px 0;
        font-size: 4.2rem;
    }
}
@media (max-width: 420px) {
    .name {
        line-height: 0.95;
        margin: 25px 0;
        font-size: 3.9rem;
    }
}
