.heart {
    stroke-dasharray: 560;
    stroke-dashoffset: 500;
    width: 150px;
    animation: 4.5s ease-in forwards draw infinite reverse;
}
.path {
    stroke: var(--mainFontColor);
}
@keyframes draw {
    0% {
        stroke-dashoffset: 520;
    }
    30% {
        stroke-dashoffset: 0;
    }

    70% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 520;
    }
}
@media (max-width: 920px) {
    .heart {
        width: 140px;
    }
}
@media (max-width: 570px) {
    .heart {
        width: 110px;
    }
}
