.mainContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

@media (max-width: 1820px) {
    .mainContent {
        max-width: 1300px;
    }
}

@media (max-width: 1320px) {
    .mainContent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1000px;
    }
}

@media (max-width: 920px) {
    .mainContent {
        flex-direction: column;
    }
}
