.container {
    padding: 4px;

    border-radius: 15px;
}
.slide {
    background-color: rgba(0, 0, 0, 0.85);
    cursor: grab;
    border-radius: 15px;
    overflow: hidden;
    border: 0px solid var(--yellow);
    color: white;
    display: flex;
    flex-direction: column;

    height: 100%;
}
.photo {
    height: 400px;
    width: 100%;
    position: relative;
}
.mainText {
    padding: 20px;
    font-size: 0.95rem;
    text-align: justify;
    padding-top: 0;
}
.h3 {
    margin: 0;
    text-align: center;
    margin: 10px 0;
    font-size: 1.4rem;
}
.span {
    font-size: 0.8rem;
    background-color: var(--grey);
    margin-right: 5px;
    padding: 2px 10px;
    margin-bottom: 5px;
    border-radius: 4px;
}
.technologies {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    justify-content: center;
}
.icon {
    height: 45px;
    aspect-ratio: 1;
    margin: 5px;
}
.a {
    transition: all 0.2s ease-in-out;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.a:hover {
    background-color: rgba(240, 248, 255, 0.2);
}
.links {
    margin-top: auto;
    display: flex;
}
@media (max-width: 920px) {
    .container {
        border-radius: 10px;
    }
    .slide {
        border-radius: 10px;
    }
    .photo {
        height: 260px;
    }
    .mainText {
        padding: 5px;
        font-size: 1rem;
    }
    .h3 {
        margin: 8px 0;
        font-size: 1.4rem;
    }
    .span {
        font-size: 0.85rem;

        padding: 2px 8px;
    }
    .technologies {
        margin-bottom: 8px;
    }
    .icon {
        height: 40px;
    }
}
@media (max-width: 570px) {
    .container {
        padding: 3px;
    }
    .photo {
        height: 210px;
    }
    .icon {
        height: 35px;
    }
}
@media (max-width: 440px) {
    .photo {
        height: 160px;
    }
    .icon {
        height: 32px;
    }
}
