.container {
    padding: 6px 0px;

    border-radius: 6px;
}

.slide {
    background-color: #29273f;
    cursor: grab;
    border-radius: 8px;

    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}
.borderTop {
    width: 100%;
    border-radius: 8px;
    position: absolute;
    height: 8px;
    top: -5px;
    left: 0;
}
.slide:active {
    cursor: grabbing;
}
.photo {
    height: 400px;
    width: 100%;
    position: relative;
}
.mainText {
    padding: 30px;
    font-size: 0.85rem;
    text-align: justify;
    padding-top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.h3 {
    margin: 0;
    text-align: center;
    margin: 26px 0;
    font-size: 1.6rem;
    font-weight: 600;
}
.span {
    font-size: 0.75rem;
    background-color: var(--grey);
    margin-right: 9px;
    padding: 8px 16px;
    margin-bottom: 9px;
    border-radius: 5px;
    min-width: 150px;
    text-align: center;
    font-weight: 400;
}
.technologies {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
}
.icon {
    height: 35px;
    aspect-ratio: 1;
}
.a {
    transition: all 0.2s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: rgba(240, 248, 255, 0.2);
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    font-size: 0.75rem;
    gap: 10px;
    align-self: center;
}
.a:hover {
    background-color: var(--violet);
}
.links {
    margin-top: auto;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
}
@media (max-width: 920px) {
    .slide {
        border-radius: 10px;
    }
    .photo {
        height: 260px;
    }
    .mainText {
        padding: 15px;
        font-size: 1rem;
    }
    .h3 {
        margin: 12px 0;
        font-size: 1.7rem;
    }
    .span {
        font-size: 0.8rem;
        margin-right: 7px;
        min-width: auto;
        margin-bottom: 7px;
        border-radius: 4px;
        padding: 6px 14px;
    }
    .technologies {
        margin: 16px auto;
    }
    .icon {
        height: 32px;
    }
    .mainText {
        font-size: 0.95rem;
    }
    .a {
        font-size: 1rem;
    }
}
@media (max-width: 570px) {
    .mainText {
        padding: 10px;
    }
    .photo {
        height: 230px;
    }
    .icon {
        height: 28px;
    }
    .span {
        margin-right: 5px;

        margin-bottom: 5px;

        font-size: 0.9rem;
        padding: 5px 10px;
    }
    .a {
        font-size: 1rem;
    }
    .links {
        padding-top: 30px;
        padding-bottom: 10px;
    }
}
@media (max-width: 440px) {
    .mainText {
        padding: 10px;
    }
    .photo {
        height: 185px;
    }
    .icon {
        height: 26px;
    }
}
