.icon {
    height: 140px;
    width: 140px;
    position: relative;
    margin: 0 35px;
}
.firstLine {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 4rem;
}
.equal {
    scale: 1.4;
}
@media (max-width: 920px) {
    .icon {
        height: 120px;
        width: 120px;

        margin: 0 25px;
    }
    .container {
        font-size: 3.4rem;
    }
}
@media (max-width: 570px) {
    .icon {
        height: 100px;
        width: 100px;

        margin: 0 20px;
    }
    .container {
        font-size: 3.2rem;
    }
}
@media (max-width: 440px) {
    .icon {
        height: 60px;
        width: 60px;

        margin: 0 10px;
    }
    .container {
        font-size: 2.8rem;
    }
}
