.container {
    background-color: #30363da6;
    border-radius: 15px;
    padding: 15px;
    margin: 75px 5px;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.lineInfo {
    display: flex;
    align-items: center;
    color: white;
}

.span {
    font-size: 1.3em;
    margin-left: 10px;
}
.back {
    display: flex;
    justify-content: center;
}
.h2 {
    color: var(--violet);
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-left: 30px;
}
.h2::after {
    content: "";
    width: 0;
    height: 4px;
    position: absolute;
    left: 50%;
    bottom: -1px;
    opacity: 0.3;
    transition: all 0.3s ease;
    transform: translateX(-50%);
    background-color: var(--violet);
    border-radius: 4px;
}
.h2:hover::after {
    width: 100%;
    opacity: 1;
}
.image {
    height: 90px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    display: flex;
}
@media (max-width: 780px) {
    .container {
        margin: 35px 10px;
    }
    .title {
        flex-direction: column;
        align-items: center;
    }
    .image {
        height: 70px;
    }
    .h2 {
        margin-left: 0px;
    }
}
