.anchorSocial {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-width: 100px;
    transition: all 0.2s ease-in-out;
    padding: 10px;
}
.anchorSocial:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.image {
    height: 70px;
    aspect-ratio: 1;
}
@media (max-width: 720px) {
    .image {
        height: 60px;
        aspect-ratio: 1;
    }
}
@media (max-width: 540px) {
    .image {
        height: 50px;
        aspect-ratio: 1;
    }
}
@media (max-width: 440px) {
    .image {
        height: 45px;
        aspect-ratio: 1;
    }
}
