.text {
    max-width: 700px;
    padding: 15px;
    text-align: justify;
    background-color: var(--mainBackColor);
}
.text::first-letter {
    font-size: 2em;
    font-weight: 600;
    color: var(--yellow);
}
.next {
    color: var(--red);
    font-size: 1.1em;
}
.ts {
    color: var(--yellow);
    font-size: 1.1em;
}
