.langPanel {
    z-index: 99999;
    position: fixed;
    right: -60px;
    bottom: 10px;
    border-radius: 50%;
    font-family: "Lato";
    text-transform: uppercase;
    transition: right 0.3s ease-in-out, transform 0.1s ease-in-out;
    height: 60px;
    cursor: pointer;
    aspect-ratio: 1;
    font-size: 0.85rem;
    font-weight: 800;
    color: white;
    background-color: var(--mainDark);
    border: 3px solid var(--yellow);
}
.langPanel:active {
    transform: scale(1.05);
}
.langPanel.active {
    right: 10px;
}
@media (max-width: 720px) {
    .langPanel {
        bottom: 30px;
        font-size: 0.95rem;
    }
}
