.circle {
    aspect-ratio: 1;
    position: absolute;
    opacity: 0.6;
    border-width: 6px;
    border-style: solid;
    border-radius: 50%;
}
.yellowCircle {
    border-color: var(--yellow);
    height: 50px;
    top: 240px;
    left: -15px;
    border-width: 6px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.redCircle {
    border-color: var(--red);
    height: 100px;
    top: 900px;
    right: 90px;
    cursor: pointer;
    transition: all 0.2s linear;
}

.violetCircle {
    border-color: var(--violet);
    height: 240px;
    bottom: 20%;
    left: 50px;
    transition: all 0.2s linear;
    cursor: pointer;
}

@media (max-width: 1320px) {
    .circle {
        border-width: 5px;
    }
    .yellowCircle {
        height: 40px;

        border-width: 5px;
    }

    .redCircle {
        height: 90px;
    }

    .violetCircle {
        height: 210px;
    }
}
@media (max-width: 780px) {
    .circle {
        border-width: 4px;
        opacity: 0.8;
    }
    .yellowCircle {
        height: 32px;
    }

    .redCircle {
        height: 60px;
    }

    .violetCircle {
        height: 180px;
    }
}
@media (max-width: 420px) {
    .circle {
        border-width: 3px;
        opacity: 0.6;
    }
    .yellowCircle {
        height: 18px;
        top: 3%;
        left: 8px;
    }

    .redCircle {
        display: none;
    }

    .violetCircle {
        height: 110px;
        bottom: 27%;
        left: 30px;
    }
}
