.marquee {
    background-color: rgba(145, 145, 145, 0.03);
    margin-top: 100px;
}
@media (max-width: 980px) {
    .marquee {
        margin-top: 70px;
    }
}
@media (max-width: 580px) {
    .marquee {
        margin-top: 50px;
    }
}
