.svg {
    width: 500px;
    height: 500px;
}
.schedule > line {
    opacity: 0;
}
.schedule.active > line {
    animation: animLineSchedule 6s 1s linear forwards;
}
.logo {
    transform: translateX(-15px);
}
.logo.active {
    animation: animLogo 6s 1s ease-in-out forwards;
}
.path {
    stroke: var(--gray);
    fill: rgba(167, 167, 167, 0.1);
}
.circle {
    animation: circleAnim 2.2s 2s linear infinite;
}
.firstLine {
    opacity: 0;
}

.firstLine.active {
    animation: opacity 1s 4s ease-in-out forwards;
}
.path.active {
    fill: rgb(255, 255, 255);
}

@keyframes circleAnim {
    0% {
        opacity: 0;
    }
    28% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    98% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes animLine {
    0% {
        width: 183;
    }
    30% {
        width: 0;
    }
    60% {
        width: 10;
    }
    100% {
        width: 183;
    }
}

@keyframes animLogo {
    0% {
        transform: translateX(-15px);
    }
    25% {
        transform: translateX(-15px);
    }
    40% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes animLineSchedule {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
