:root {
    --mainBackColor: #1d1c2d;
    --mainFontColor: white;
    --mainDark: #1d1c2d;
    --mainWhite: white;
    --violet: #8334bc;
    --yellow: #de953f;
    --red: #c53232;
    --grey: #3d3d3d;
    --scrollBarBack: #363541;
}

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--scrollBarBack);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--red);
}
html,
body {
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
    font-size: 26px;
    background-color: var(--mainBackColor);
    color: var(--mainFontColor);
    min-height: 2100px;
    overflow-x: hidden;
}

.flexCenter {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.boldViolet {
    font-weight: 900;
    color: var(--violet);
}

.boldRed {
    font-weight: 900;
    color: var(--red);
}

.boldYellow {
    font-weight: 900;
    color: var(--yellow);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
p {
    margin: 0;
}
section a {
    text-decoration: underline;
}
section a:active {
    text-decoration: none;
}
@media (max-width: 1320px) {
    html,
    body {
        font-size: 22px;
    }
}
@media (max-width: 980px) {
    html,
    body {
        font-size: 20px;
    }
}
@media (max-width: 760px) {
    html,
    body {
        font-size: 19px;
    }
}
@media (max-width: 580px) {
}
@media (max-width: 420px) {
    html,
    body {
        font-size: 18.5px;
    }
}
