:root {
    --mainBackColor: #1d1c2d;
    --mainFontColor: "white";
    --mainDark: #1d1c2d;
    --mainWhite: "white";
    --violet: #b95ee9;
    --yellow: #de953f;
    --red: #c53232;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
    font-size: 26px;
}

.boldViolet {
    font-weight: 700;
    color: var(--violet);
}

.boldRed {
    font-weight: 700;
    color: var(--red);
}

.boldYellow {
    font-weight: 700;
    color: var(--yellow);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
