.size {
    height: 405px;
    aspect-ratio: 1;
    border: 10px solid var(--mainBackColor);
    border-radius: 50%;
    animation: animPhoto 5s linear infinite;
    overflow: hidden;
}
.container {
    position: relative;
    width: fit-content;
    margin-right: 140px;
    cursor: pointer;
    margin-left: 30px;
}

.yellowCircle {
    border-color: var(--yellow);
    height: 50px;
    top: -35px;
    left: -15px;
    border-width: 6px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.yellowCircle:hover {
    background-color: var(--yellow);
    transform: translateY(-10px);
}

.redCircle {
    border-color: var(--red);
    height: 100px;
    bottom: -20px;
    right: 10px;
    cursor: pointer;
    transition: all 0.2s linear;
}
.redCircle:hover {
    background-color: var(--red);
    transform: translateY(10px);
}
.violetCircle:hover {
    background-color: var(--violet);
    transform: translateX(-30px);
}
.violetCircle {
    border-color: var(--violet);
    height: 190px;
    top: -90px;
    right: -40px;
    transition: all 0.2s linear;
    cursor: pointer;
}

@keyframes animPhoto {
    0% {
        transform: translateY(15px);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(15px);
    }
}
@media (max-width: 1720px) {
    .size {
        height: 355px;
    }
}
@media (max-width: 1320px) {
    .container {
        margin-top: 140px;
        margin-right: 0;
        margin-left: 0;
    }
    .size {
        height: 335px;
    }
}
@media (max-width: 760px) {
    @keyframes animPhoto {
        0% {
            transform: translateY(8px);
        }
        50% {
            transform: translateY(-8px);
        }
        100% {
            transform: translateY(8px);
        }
    }
    .size {
        height: 295px;
    }
    .yellowCircle {
        height: 40px;
        top: -35px;
        left: -15px;
        border-width: 4px;
    }
    .redCircle {
        height: 60px;
        bottom: -10px;
        right: 15px;
        border-width: 5px;
    }
    .violetCircle {
        height: 125px;
        top: -70px;
        right: -30px;
        border-width: 5px;
    }
}
@media (max-width: 580px) {
    .container {
        margin-top: 100px;
    }
    .yellowCircle {
        height: 35px;
        top: -25px;
        left: -10px;
        border-width: 3px;
    }
    .violetCircle {
        height: 105px;
        top: -65px;
        right: -20px;
        border-width: 5px;
    }
    .size {
        height: 275px;
    }
    .redCircle {
        height: 55px;
        bottom: -10px;
        right: 15px;
        border-width: 4px;
    }
    @keyframes animPhoto {
        0% {
            transform: translateY(4px);
        }
        50% {
            transform: translateY(-4px);
        }
        100% {
            transform: translateY(4px);
        }
    }
}
@media (max-width: 420px) {
    .yellowCircle {
        height: 30px;
    }
    .size {
        height: 265px;
    }
    .violetCircle {
        height: 90px;
        top: -50px;
        right: -20px;
        border-width: 5px;
    }
    .redCircle {
        height: 50px;
        bottom: -15px;
        right: 5px;
        border-width: 4px;
    }
}
